<TR>
	<TD ALIGN="{{settings "text.align.repeat"}}">{{.Prefix}}</TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}"></TD>
	<TD BGCOLOR="{{color "type.missing"}}" PORT="po{{.Name}}" ALIGN="{{settings "text.align.type"}}">
		<b>{{.Type}}</b>
	</TD>
</TR>
