<TR>
	<TD ALIGN="{{settings "text.align.repeat"}}">{{.Prefix}}</TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD BGCOLOR="{{color "type.simple"}}" PORT="po{{.Name}}" ALIGN="{{settings "text.align.type"}}" TITLE="{{.Type}}">
		<i>{{.Type}}</i>
	</TD>
</TR>