<TR>
	<TD ALIGN="{{settings "text.align.repeat"}}">{{.Prefix}}</TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD BGCOLOR="{{color "type.enum"}}" PORT="po{{.Name}}" ALIGN="{{settings "text.align.type"}}">
		<u>{{.Type}}</u>
	</TD>
</TR>
