{{settings "node.prefix"}}{{.Unique}}	[shape=plaintext tooltip="{{.Name}}" label=<
<TABLE BORDER="1" CELLBORDER="0" CELLSPACING="0" BGCOLOR="{{color "enum.background"}}">
	<TR>
		<TD COLSPAN="2" PORT="header" BGCOLOR="{{color "enum.header"}}" ALIGN="{{settings "text.align.header"}}">
			enum <b>{{.Name}}</b>
		</TD>
	</TR>