<TR>
	<TD BGCOLOR="{{color "enum.background"}}" ALIGN="{{settings "text.align.name"}}">
		{{.Name}}
	</TD>
	<TD BGCOLOR="{{color "enum.background"}}" ALIGN="{{settings "text.align.value"}}">
		{{.Value}}
	</TD>
</TR>