<TR>
	<TD>{{.Prefix}}</TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD ALIGN="{{settings "text.align.type"}}" BGCOLOR="{{color "type.enum"}}" PORT="po{{.Name}}">
		map&lt;{{.KeyType}}, <u>{{.Type}}</u>&gt;
	</TD>
</TR>
