{{settings "node.prefix"}}{{.Unique}}	[shape=plaintext tooltip="{{.Type}}" label=<
<TABLE BORDER="1" CELLBORDER="0" CELLSPACING="0" BGCOLOR="{{color "message.background"}}">
	<TR>
		<TD COLSPAN="5" PORT="header" BGCOLOR="{{color "message.header"}}" ALIGN="{{settings "text.align.header"}}">
			<font color="{{color "service.header.text"}}"><b>{{.Name}}</b></font>
		</TD>
	</TR>