{{settings "node.prefix"}}{{.Unique}}	[shape=plaintext tooltip="{{.Name}}" label=<<TABLE BORDER="1" CELLBORDER="0" CELLSPACING="0" BGCOLOR="{{color "missing.background"}}"><TR><TD PORT="header" BGCOLOR="{{color "missing.header"}}" ALIGN="{{settings "text.align.header"}}">{{.Name}}</TD></TR><TR><TD BGCOLOR="{{color "missing.background"}}" ALIGN="{{settings "text.align.name"}}">this type is missing</TD></TR></TABLE>>];
