<TR>
	<TD BGCOLOR="{{color "oneof.background"}}"></TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD ALIGN="{{settings "text.align.type"}}" BGCOLOR="{{color "type.message"}}" PORT="po{{.Name}}">
		<b>{{.Type}}</b>
	</TD>
</TR>
