<TR>
	<TD BGCOLOR="{{color "oneof.background"}}"></TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD ALIGN="{{settings "text.align.type"}}" BGCOLOR="{{color "type.enum"}}" PORT="po{{.Name}}">
		<u>{{.Type}}</u>
	</TD>
</TR>
