<TR>
	<TD BGCOLOR="{{color "oneof.background"}}"></TD>
	<TD ALIGN="{{settings "text.align.sequence"}}">{{.Ordinal}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}">{{.Name}}</TD>
	<TD ALIGN="{{settings "text.align.name"}}"></TD>
	<TD ALIGN="{{settings "text.align.type"}}" BGCOLOR="{{color "type.simple"}}" PORT="po{{.Name}}">
		<i>{{.Type}}</i>
	</TD>
</TR>