{{settings "node.prefix"}}{{.Unique}}	[shape=plaintext tooltip="{{.Name}}" label=<
<TABLE BORDER="1" CELLBORDER="0" CELLSPACING="0" BGCOLOR="{{color "service.background"}}">
	<TR>
		<TD COLSPAN="4" PORT="header" BGCOLOR="{{color "service.header"}}" ALIGN="{{settings "text.align.header"}}">
			<b>{{.Name}}</b>
		</TD>
	</TR>